/* ==================================================== WHOLE BODY ==================================================== */

* {
    margin: 0%;
    padding: 0%;
}

::selection {
    background: #6c16419c;
    color: white;
}

html,
body {
    overflow: hidden;
}

body {
    background: linear-gradient(to top, #A020F0, #4B6CFB);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Hind", sans-serif;
    font-style: normal;
}

/* ================================================== BACKGROUND IMAGE ================================================ */

#container {
    background: url(imgs/00-\ BACKGROUND-IMAGE.jpg) no-repeat center center;
    border-radius: 15px;
    background-size: cover;
    background-attachment: fixed;
    width: 80%;
    height: 90%;
    overflow: hidden;
    box-shadow: 3px 40px 90px black;
    padding-right: 90px;
    transition: 0.5s ease-in-out;
}

#container:hover {
    opacity: 0.9;
}

/* ======================================================= SECTIONS ===================================================== */

#sec-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-self: center;
    align-items: flex-end;
    padding-right: 50px;
}

#sec1 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#sec2 {
    color: #fff;
    width: 70%;
    height: 80%;
    text-align: right;

}

/* RESPONSIVE NESS OF SECTIONS */

@media (max-width: 1777px) {
    #sec2 {
        display: none;
        width: 0%;
        height: 0%;
    }
}

/* ====================================================== ELSE ======================================================== */

/* ---------------- -:( USER ICON IMAGE ):- ---------------- */

#user-icon {
    display: flex;
    align-items: center;
    height: 50%;
    padding-left: 15%;
    width: 80%;
    margin-bottom: 0%;
    padding-bottom: 0% !important;
}

#user-img {
    width: 20vmin;
    height: auto;
}

#user-img {
    transition: 0.4s ease;
}

#user-img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 20px cyan);
}

/* RESPONSIVNESS OF USER ICON */

@media (max-width: 1777px) {
    #user-icon {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    #user-img {
        width: 40vmin;
    }
}

/* ---------------- -:( USER EMAIL & PASSWORD DIV ):- ----------------- */

.input {
    width: 43vmin;
    height: 5vmin;
    border: 1px solid rgba(255, 255, 255, 0.711);
    border-radius: 20px;
    margin: 20px;
    margin-left: 5%;
    margin-top: 0%;
    transition: 0.3s ease;
}

.input:hover {
    transform: scale(1.03);
    border-color: #fff;
}

.input:focus-within{
    transform: scale(1.05);
    border-color: deeppink;
    box-shadow: 0 0 20px deeppink;
}

.input label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.input input {
    background: transparent;
    border: none;
    width: 80%;
    height: 100%;
    outline: none;
    color: #fff;
    font-size: 17px;
}

.input input::placeholder {
    font-size: 18px;
    color: #ababab;
    font-weight: 100;
}

/* RESPONSIVNESS OF USER ICON */

@media (max-width: 1777px) {

    #inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 576px) {

    #inputs div {
        width: 80%;
        padding: 5px;
        font-size: 15px;
    }

    .input input::placeholder {
        font-size: 15px;
    }
}

/* ---------------- -:( SUBMIT LOGIN BUTTON ):- ---------------- */

#login-btn input {
    width: 43vmin;
    height: 6vmin;
    border: none;
    border-radius: 20px;
    margin: 20px;
    margin-left: 5%;
    margin-top: 0%;
    background-color: deeppink;
    color: white;
    font-size: large;
    transition: 0.3s ease;
}

#login-btn input:hover {
    background-color: #ff4db8;
    transform: scale(1.05);
    box-shadow: 0 0 25px #ff4db8;
}

#login-btn input:active {
    transform: scale(0.95);
}

/* RESPONSIVNESS OF SUBMIT LOGIN BUTTON */

@media (max-width: 576px) {

    #login-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #login-btn input {
        width: 100%;
        padding: 5px;
        font-size: 15px;
    }
}

@media (max-width: 473px) {

    #login-btn input {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
}

/* ---------------- -:( REMEMBER & FORGET PASS ):- ---------------- */

#check-for-pass {
    width: 43vmin;
    height: 5vmin;
    margin: 20px;
    margin-left: 3%;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-between;
    padding: 2% 0% 0% 2%;
    text-align: center;
    font-size: 2vmin;
}

#check-for-pass div {
    padding: 0%;
    margin: 0%;
    display: none;
}

@media (max-width: 1777px) {
    #outer-div {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
}

/* ---------------- -:( WELCOME SIDE SECTION 2 ):- ---------------- */

#sec2 h1 {
    color: white;
    font-size: 120px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

#sec2 h1:hover {
    text-shadow: 0 0 20px #a020f0, 0 0 40px #4b6cfb;
    transform: scale(1.1);
    transition: 0.4s;
}

#sec2 p {
    color: white;
    margin-bottom: 40px;

    font-size: 25px;
    text-align: justify;
}

#sec2 div {
    display: flex;
    justify-content: right;
    margin-right: 70px;
}

#sec2 div a {
    margin-left: 30px;
    color: white;
    font-weight: bolder;
    transition: 0.5s ease;
}

#sec2 div a:hover {
    text-shadow: 0 0 20px #a4009c, 0 0 40px #4b6cfb;
    transform: scale(1.1);
    transition: 0.4s;
}

/* ===================================================== NAVBAR ======================================================= */

#navbar {
    display: flex;
    justify-content: right;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    align-items: center;
    padding-top: 10px;
}

#navbar #sign-in-btn {
    background-color: #0A83B7;
    border: none;
    border-radius: 10px;
    padding: 0%;
    margin-top: 25px;
    width: 18vmin;
    height: 4vmin;
    color: white;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#hamburger {
    display: none;
}

@media (max-width: 729px) {

    #navbar {
        display: flex;
        justify-content: space-around;
    }

    #navbar a {
        display: none;
    }

    #hamburger { 
        display: flex;
    }

    .btn {
        background-color: transparent;
        border: none;
        text-align: center;
        margin-top: 20px;
    }
}